<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v27.0.3/dist/font-face.css" rel="stylesheet"
        type="text/css" />
    <style>
        * {
            font-family: Vazir, Tahoma, 'DejaVu Sans', helvetica, arial, freesans, sans-serif;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .border-dark {
            border: 1px solid rgba(18, 17, 17, 0.4);
        }

        .no-border {
            border: 0px;
        }

        .no-outline {
            outline: 0px;
        }

        .p-1 {
            padding: 1rem;
        }
    </style>
    <style>
        .p09 {
            padding: 0.3rem 0;
        }

        .right-inner-addon {
            position: relative;
        }

        .right-inner-addon input {
            padding-right: 30px;
        }

        .right-inner-addon i {

            position: absolute;
            cursor: pointer;
            /*text-indent: -15px;
	bottom: -8px;
	font-size: 1.3em;*/
            right: 0px;
            padding: 10px 12px;
        }
    </style>

    <link rel="stylesheet" href="/index.css">
</head>

<body>

    <div class="panel panel-default" id="App">
        <div class="panel-heading">
            <span class="title">مدیریت آزمون ها</span>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="row" style="padding: 0 1.5rem 0 0rem">
                    <div class="col-lg-8 col-sm-6" style="margin-top: 2px">
                        <div class="btn-group">
                            <button @click="AddSection" class="btn btn-primary">اضافه کردن بخش</button>
                            <button class="btn btn-primary">فایل ضمیمه</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6" style="border-left: 1px solid #c4b4b4; margin:2px 0">
                        <div class="btn-group">
                            <button class="btn btn-primary">ذخیره</button>
                            <button class="btn btn-primary">بازکردن</button>
                            <button class="btn btn-primary">جدید</button>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 2rem 0 2rem 2rem;">
                    <div class="col-lg-9">
                        <exam-section v-for="(section,index) in exam.Sections" :key="index"
                            :question-types="allQuestionTypes" :section-info="section">
                        </exam-section>
                    </div>
                    <div class="col-lg-3" style="padding:0px">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <div class="form-group has-success">
                                    <input type="text" v-model="exam.ExamTitle" placeholder="عنوان آزمون"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control text-center" v-model="exam.ExamType">
                                        <option :value="null" class="small text-small">نوع آزمون را مشخص کنید</option>
                                        <option v-for="(type,index) in examTypes" :value="type.Value"
                                            :selected="type.Value === exam.ExamType" :key="index">{{type.Text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group has-success">
                                    <select class="form-control text-center" v-model="exam.PracticeType">
                                        <option :value="null" class="small text-small">نوع آزمون را مشخص کنید</option>
                                        <option v-for="(type,index) in practiceTypes" :value="type.Value"
                                            :selected="type.Value === exam.ExamType" :key="index">{{type.Text}}</option>
                                    </select>
                                </div>
                            </div>

                            <!--
                            <div class="form-group has-success">
                            <div class="col-lg-12">
                                <input type="text" placeholder="عنوان" class="form-control">
                            </div>
                        </div>
                        <div class="form-group has-success">
                            <div class="col-lg-12">
                                <textarea rows="3" placeholder="عنوان" class="form-control"></textarea>
                            </div>
                        </div>
                            -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 text-center" style="border-right: 1px solid #c4b4b4;">
                        <div class="btn-group">
                            <button class="btn btn-primary">طراحی</button>
                            <button class="btn btn-primary">نمایش</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="examSection">
    <div class="row" :style="{'background-color':GetColor , 'padding':'5rem'}">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group">
                <button class="btn btn-primary" @click="ShowModal">مشخصات</button>
                <button class="btn btn-primary"><i class="glyphicon glyphicon-chevron-up p09"></i></button>
                <button class="btn btn-primary"><i class="glyphicon glyphicon-chevron-down p09"></i></button>
                <button @click="AddQBlock" class="btn btn-primary">اضافه کردن Block جدید</button>
            </div>
        </div>
        <div class="col-lg-12" style="padding:1rem 0 1rem 0">
            <exam-question-block v-for="(questionBlock,index) in sectionInfo?.QuestionBlocks" :key="index" :question-types="questionTypes" :block-info="questionBlock">
            </exam-question-block>
            
                    <hr class="border-dark">
        </div>
        <modal v-if="sectionDetail" :header="'نمایش جزئیات Section'" v-on:close="CloseModal">
            <div class="row">
                <div class="col-lg-12" style="padding: 1.5rem 1.5rem 1.5rem 0">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="label label-default">عنوان Section</label>
                                <input type="text" v-model="sectionDetail.Title" placeholder="عنوان بخش" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="label label-default">جزئیات Section</label>
                                <textarea v-model="sectionDetail.Description" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</script>

    <script type="text/template" id="examQuestionBlock">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="btn-group" style="padding: 0 1.5rem 0 0">
                <button class="btn btn-primary" @click="ShowBModal">مشخصات</button>
                <button class="btn btn-primary"><i class="glyphicon glyphicon-chevron-up p09"></i></button>
                <button class="btn btn-primary"><i class="glyphicon glyphicon-chevron-down p09"></i></button>
                <button @click="AddQuestion" class="btn btn-primary">اضافه کردن سوال جدید</button>
            </div>
            <!--
            <div class="col-lg-12" style="padding: 1.5rem 0 1.5rem 0">
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="label label-default">عنوان سوال</label>
                            <input type="text" placeholder="عنوان" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="label label-default">متن سوال</label>
                            <textarea rows="3" placeholder="متن سوال" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="label label-default">توضیحات سوال</label>
                            <textarea rows="3" placeholder="توضیحات" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            -->
            <div class="col-lg-12" style="padding: 1.5rem 1.5rem 1.5rem 0">
                <block-question v-for="(question,index) in BlockInfo.Questions" :question-types="questionTypes" :key="index" :question-info="question">
                </block-question>
            </div>
        </div>
        <modal v-if="qBlockDetail" :header="'نمایش جزئیات Question Block'" v-on:close="CloseBModal">
            <div class="row">
                <div class="col-lg-12" style="padding: 1.5rem 1.5rem 1.5rem 0">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="label label-default">عنوان Question Block</label>
                                <input type="text" v-model="qBlockDetail.Title" placeholder="عنوان بخش" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="label label-default">متن سوال</label>
                                <textarea v-model="qBlockDetail.QuestionText" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="label label-default">جزئیات Question Block</label>
                                <textarea v-model="qBlockDetail.Description" rows="6" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
    </div>
</script>

    <script type="text/template" id="blockQuestion">
    <div class="row">
       <div class="col-lg-4">
                <div class="form-group">
                    <label class="label label-default">شماره سوال</label>
                    <input type="text" v-model="questionDetail.Number" placeholder="شماره سوال" class="form-control" />
                </div>
        </div>
    
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="label label-default">انتخاب نوع سوال</label>
                    <select class="form-control text-left">
                        <option v-for="item in questionTypes" :value="item">{{item}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label class="label label-default">امتیاز</label>
                    <input type="text" v-model="questionDetail.Point" placeholder="امتیاز" class="form-control" />
                </div>
            </div>

            <div class="col-lg-12">
                <div class="form-group">
                    <!-- v-model="questionDetail.CorrectAnswers" -->
                    <label class="label label-default">انتخاب گزینه صحیح</label> 
                    <select class="form-control text-right" @change="select" :multiple="true">
                        <option v-for="(choice , index) in questionInfo?.Choices" :key="index" :value="choice.ChoiceText">{{choice?.ChoiceText}}</option>
                    </select>
                </div>
            </div>
        <!---->

        <div class="col-lg-12" >
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-sm btn-success" @click="Add">افزودن گزینه</button>
                    <div class="form-group">
                        <input class="form-control" v-model="newChoice.ChoiceText" placeholder="متن گزینه" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <h5>گزینه ها</h5>
                        <question-choice v-for="(choice,index) in  questionInfo?.Choices" :value="choice" @remove="RemoveChoice(choice)" :key="index">
                        </question-choice>
                        
                    </div>
                    <hr class="border-primary">
                </div>
        </div>
    </div>
    </div>
</script>

    <script type="text/template" id="questionChoice">
    <div class="col-lg-3" style="float:right">
        <div class="form-group" >
            <div class='right-inner-addon'>
                <i class="text-danger glyphicon glyphicon-remove" @click="$emit('remove')"></i>
                <input  type="text"  v-model="value.ChoiceText" class="form-control  text-left" />
            </div>
        </div>
    </div>
</script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        var examTypes = [{
            "Text": 1,
        }, {
            "Text": 2,
        }, {
            "Text": 3,
        }];
        var allQuestionTypes = [{
            "Text": 1,
        }, {
            "Text": 2,
        }, {
            "Text": 3,
        }];

        Vue.component('modal', {
            props: ["header"],
            template: `<!-- The Modal -->
                        <transition name="fade">
                           <div class="modal bd-example-modal-lg" id="myModal" style="display: block;">

                                      <div class="modal-dialog  modal-lg">

                                        <div class="modal-content">

                                          <!-- Modal Header -->

                                          <div class="modal-header text-center">
                                            <button type="button" class="close" v-on:click="$emit('close')" data-dismiss="modal">×</button>

                                            <h6 class="modal-title km-dialog-title">{{header}}</h6>
                                          </div>

                                          <!-- Modal body -->

                                          <div class="modal-body">

                                            <slot></slot>

                                           <!-- Modal footer
                                          <div class="modal-footer">
                                              <slot name="footer">
                                              </slot>
                                          </div>
                                           -->
                                          </div>


                                        </div>

                                      </div>

                                    </div>
                          </transition>`
        });
        Vue.component('exam-section', {
            props: {
                sectionInfo: {
                    type: Object
                },
                questionTypes: {
                    type: Array
                },
            },
            data() {
                return {
                    sectionDetail: null
                }
            },
            template: '#examSection',
            methods: {
                ShowModal() {
                    this.sectionDetail = this.sectionInfo;
                },
                CloseModal() {
                    this.sectionDetail = null;
                },
                AddQBlock() {
                    let qBlock = {
                        Title: null,
                        Description: null,
                        QuestionText: null,
                        Questions: [{
                            Number: 1,
                            QuestionType: null,
                            QuestioTypeName: null,
                            //CorrectAnswers: [],
                            Point: 0,
                            Choices: []
                        }]
                    }
                    this.sectionInfo?.QuestionBlocks?.push(qBlock);
                }
            }
        });
        Vue.component('exam-question-block', {
            template: '#examQuestionBlock',
            props: {
                BlockInfo: {
                    type: Object
                },
                questionTypes: {
                    type: Array
                },
            },
            data() {
                return {
                    qBlockDetail: null
                }
            },
            methods: {
                ShowBModal() {
                    this.qBlockDetail = this.BlockInfo;
                },
                CloseBModal() {
                    this.qBlockDetail = null;
                },
                AddQuestion() {
                    let question = {
                        Number: 1,
                        QuestionType: null,
                        QuestioTypeName: null,
                        //CorrectAnswers: [],
                        Point: 0,
                        Choices: []
                    }
                    this.BlockInfo?.Questions?.push(question);
                }
            }
        });
        Vue.component('block-question', {
            template: '#blockQuestion',
            props: {
                questionInfo: {
                    type: Object
                },
                questionTypes: {
                    type: Array
                },
            },
            data() {
                return {
                    questionDetail: null,
                    newChoice: {
                        ChoiceText: null,
                        SelctedByStudentAsAnswer: false
                    }
                }
            },
            methods: {
                select(event) {
                    this.questionInfo?.Choices?.forEach(item => {
                        if ([].slice.call(event.target.selectedOptions)?.some(a => a.value === item.ChoiceText))
                            item.SelctedByStudentAsAnswer = true;
                        else item.SelctedByStudentAsAnswer = false;
                    });
                },
                Add(e) {
                    if (this.newChoice.ChoiceText && this.newChoice.ChoiceText !== '')
                        if (!this.questionInfo.Choices.some(c => c.ChoiceText === this.newChoice.ChoiceText)) {
                            this.questionInfo?.Choices?.push(this.newChoice);
                            this.newChoice = {
                                ChoiceText: null,
                                SelctedByStudentAsAnswer: false
                            }
                        }
                    //alert message
                },
                RemoveChoice(item) {
                    const index = this.questionInfo?.Choices?.indexOf(item);
                    if (index > -1)
                        this.questionInfo.Choices = this.questionInfo?.Choices?.filter(c => c !== item);
                }
            },
            created() {
                this.questionDetail = this.questionInfo;
            },
        });

        Vue.component('question-choice', {
            template: '#questionChoice',
            props: {
                value: {
                    type: Object
                },
            }
        });
        Vue.component('doller-input', {
            props: ["value"],
            template: `
                        <div>
                            <input type="text" style="direction: initial;" class="form-control" v-model="displayValue" v-on:blur="isInputActive = false" v-on:focus="isInputActive = true"/>
                        </div>`,
            data: function () {
                return {
                    isInputActive: false
                }
            },
            computed: {
                displayValue: {
                    get: function () {
                        if (this.isInputActive) {
                            // Cursor is inside the input field. unformat display value for user
                            return this.value.toString()
                        } else {
                            // User is not modifying now. Format display value for user interface
                            return "$ " + this.value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
                        }
                    },
                    set: function (modifiedValue) {
                        // Recalculate value after ignoring "$" and "," in user input
                        let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                        // Ensure that it is not NaN
                        if (isNaN(newValue)) {
                            newValue = 0
                        }
                        // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                        // $emit the event so that parent component gets it
                        this.$emit('input', newValue)
                    }
                }
            }
        });
        Vue.component('decimal-input', {
            props: {
                value: {
                    type: Number,
                    default: 0,
                    required: true
                }
            },
            template: `<div>
                            <input type="text" style="direction: initial;" class="form-control" v-model="price" />
                       </div>`,
            data: function () {
                return {
                    price: 0
                }
            },
            created() {
                this.price = this.value;
            },
            watch: {
                price: function (newValue) {
                    const result = newValue.toString().replace(/\D/g, "")
                        .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                    Vue.nextTick(() => this.price = result);
                    this.$emit('input', parseInt(newValue.toString().replace(/,/g, '')));
                }
            }
        });

        Vue.directive('tooltip', function (el, binding) {
            $(el).tooltip({
                title: binding.value,
                placement: binding.arg,
                trigger: 'hover'
            })
        });
        Vue.mixin({
            computed: {
                GetColor: () => {
                    const colors = ['#f7f7f7', 'rgb(247, 251, 251)', '#FFFFFF', '#e6e2dd'];
                    let index = Math.floor(Math.random() * 3)
                    return colors[index];
                }
            },
        });

        const promotion = new Vue({
            el: "#App",
            components: {
            },
            data: {
                examTypes: examTypes,
                practiceTypes: examTypes,
                allQuestionTypes: allQuestionTypes,
                exam: {
                    ExamTitle: null,
                    ExamType: null,
                    PracticeType: null,
                    ExamTypeName: null,
                    Sections: [{
                        Title: 'section test1 ',
                        Description: 'section test 1 description',
                        QuestionBlocks: [{
                            Title: 'QuestionBlocks 1',
                            Description: 'QuestionBlocks 1 Description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.',
                            QuestionText: 'QuestionBlocks 1 QuestionText',
                            Questions: [{
                                Number: 1,
                                QuestionType: null,
                                QuestioTypeName: null,
                                //CorrectAnswers: [],
                                Point: 0,
                                Choices: []
                            }]
                        }]
                    }]
                },
            },
            watch: {
                'exam.ExamType': function (val) {
                    this.exam.ExamTypeName = this.examTypes.find(e => e.Value === val)?.Text;
                }
            },
            created() {
                console.log(this.GetColor)
            },
            methods: {
                AddSection() {
                    let section = {
                        Title: null,
                        Description: null,
                        QuestionBlocks: [{
                            Title: null,
                            Description: null,
                            QuestionText: null,
                            Questions: [{
                                Number: 1,
                                QuestionType: null,
                                QuestioTypeName: null,
                                //CorrectAnswers: [],
                                Point: 0,
                                Choices: []
                            }]
                        }]
                    }
                    this.exam?.Sections?.push(section);
                }
            }
        });
    </script>

</body>

</html>